
.skills {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6rem;

    .skill-bar {
        width: 95%;

        .skillbar-title {
          span {
            font-weight: 300;
            font-size: 1.3em;
          }
        }

        .skillbar-percent {
          color: #000;
          font-size: 0.9em;
          font-weight: 600;
        }
    }

}